<nav
  class="navbar rounded shadow-custom position-sticky top-0 navbar-dark mb-3 container-fluid z-1 bg-custom"
>
  <div class="container-fluid">
    <a href="#inicio" class="navbar-brand mb-3"
      ><span class="display-1 text-magency">Magency</span></a
    >
    <form class="d-flex w-50" role="search">
      <input
        class="form-control rounded-end-0"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-dark rounded-start-0" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
</nav>
