{% extends 'layouts/base2.html' %}

<!-- Title -->

{% block title %} {{ category.name }} {% endblock %}

<!-- Content -->

{% block content %}
<main class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-10 offset-1 offset-lg-0 mb-3 mb-lg-0 col-lg-4">
      <a href="{{ product.category.image.url }}">
        <img
          src="{{ product.category.image.url }}"
          class="d-block w-100"
          alt="{{ category.name }}"
        />
      </a>
    </div>
    <div class="my-auto col-lg-8 fw-bold text-center">
      <h2
        class="d-inline-block mb-lg-3 fw-semibold border-bottom px-3 display-3"
      >
        {{ category.name }}
      </h2>
      <p class="lead my-auto mb-2">{{ product.description }}</p>
      {% if product.length and product.width %}
      <p class="lead text-start text-center mt-5 mb-2">
        <span class="fw-bold">Medidas:</span>
        Cuenta con
        <span class="fw-bold">{{ product.length }}</span> centímetros de alto y
        <span class="fw-bold">{{ product.width }}</span>
        centímetros de ancho
      </p>
      {% endif %} {% if product.radius and not product.length %}
      <p class="lead my-auto mb-2 text-center">
        <span class="fw-bold">Medidas:</span>
        Cuenta con
        <span class="fw-bold">{{ product.radius }}</span> centímetros de
        diámetro
      </p>
      {% endif %} {% if product.length and product.radius %}
      <p class="lead my-auto mb-2 text-center">
        <span class="fw-bold">Medidas:</span>
        Cuenta con
        <span class="fw-bold">{{ product.length }}</span> centímetros de alto y
        <span class="fw-bold">{{ product.radius }}</span> centímetros de
        diámetro
      </p>
      {% endif %}
    </div>
    <p class="text-center mt-5">
      -Incluye transportación en el municipio Nueva Paz
    </p>
    <h4 class="h2 mt-5 text-center">
      El Precio del producto es:
      <span class="text-success">${{ category.price }}</span>
    </h4>
    <h4 class="mt-5 h1 text-center">
      Está interesado en adquirir el producto?
    </h4>

    <a
      class="btn btn-primary w-50 mx-auto mt-2 mb-5"
      href="https://wa.me/+5358220342"
      >Contáctenos aquí</a
    >

    {% endfor %}
  </div>
</main>
{% endblock %}
