{% extends "layouts/base.html" %}

<!-- Title -->

{% block title %} Principal {% endblock title %}

<!-- Content -->

{% block content %} {% include 'partials/main-navbar.html'%}
<main class="container mt-3">
  <h1 class="text-center mb-5 display-1 fw-bold">Productos</h1>
  <div class="row">
    {% for category in categories %}
    <div class="col-6 col-lg-3 col-sm-4 mb-4">
      <div class="card card-body w-100 bg-custom-2">
        <a href="{% url 'category_detail' category.id %}">
          <img
            src="{{ category.image.url }}"
            alt="{{ category.name }}"
            class="img-fluid rounded"
          />
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</main>

{% endblock content %}
